@media(max-width:900px) {
    .nav-bar {
        display: none;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .content {
        padding: 0;
    }

    .info h1 {
        width: 300px;
        margin: 0;

    }

    .info {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .info h2 {
        width: 300px;

    }

    header {
        width: 100%;
    }

    .res {
        display: none;
    }

    .by {
        width: 320px;
        text-transform: uppercase;
        line-height: 30px;

    }
    #escritorio{
        font-size: 30px;
    }
    .about{
    margin: 40px;
        font-size: 15px;
        line-height: 30px;

    }

    .for {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .box1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;

    }

    .container {
        width: 300px;
    }
    .about{
        padding: 0;
    }
    .image7{
        display: none;
    }
    .image8{
        display: none;
    }
    .image{
    width: 240px;
    }

    .box2 {
        width: 80%;
        height: 180px;
    }

    .grid {
        display: grid;

        height: 1500px;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .image {
        width: 300px;
    }

    .maior {
        display: flex;
        justify-content: center;
    }

    #equipe {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
  
    
    .item {
        margin: 40px;
    }

    .second {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .p1 {
        width: 200px;
        padding: 0;
    }

    .p2 {
        width: 200px;

    }

    label {
        width: 300px;
    }

    button {
        padding: 10px 100px;
    }

    footer {
        width: 100%;
    }


    /* menu */
 

    summary {
        writing-mode: vertical-lr;
        text-align: center;
        padding: 12px 10px;
        width: 23px;
        height: 17px;
        background-color: var(--primColor);
        border: 2px solid var(--secoColor);
        border-radius: var(--cornerRad);
        color: var(--secoColor);
        cursor: pointer;
        user-select: none;
        outline: none;
        transition: transform 200ms ease-in-out 0s;
    }

    summary::before,
    summary::after {
        position: static;
        top: 0;
        left: 0;
    }

    summary::before {
        content: "";
    }

    summary::after {
        content: "III";
        letter-spacing: -1px;
        font-size: 30px;
    }

    summary:hover {
        transform: scale(1.1);
    }

    summary::marker {
        font-size: 0;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    details[open] .menu {
        animation-name: menuAnim;
    }

    details[open] summary::before {
        content: "X";
    }

    details[open] summary::after {
        content: "";
    }

    .menu {
        height: 0;
        width: fit-content;
        border-radius: var(--cornerRad);
        background-color: #ccc;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        animation: closeMenu 300ms ease-in-out forwards;
    }

    .menu a {
        padding: 12px 24px;
        margin: 0 16px;
        color: var(--secoColor);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        text-decoration: none;
        text-align: center;
        transition: filter 200ms linear 0s;
    }

    .menu a:nth-of-type(1) {
        padding-top: 24px;
    }

    .menu a:nth-last-of-type(1) {
        border-bottom: none;
    }

    .menu a:hover {
        filter: brightness(200%);
    }

    details::before {
        content: "← Click This Button";
        color: var(--secoColor);
        position: absolute;
        margin-left: 80px;
        padding: 10px 10px;
        opacity: 0.4;
    }

    details[open]::before {
        animation: fadeMe 300ms linear forwards;
    }

    @keyframes menuAnim {
        0% {
            height: 0;
        }

        100% {
            height: 312px;
        }
    }

    @keyframes fadeMe {
        0% {
            opacity: 0.4;
        }

        100% {
            opacity: 0;
        }
    }






}